name: MLflow Pipeline

on:
  push:
    branches: [main]

jobs:
  run_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install mlflow scikit-learn pandas joblib dvc

      - name: DVC Pull
        run: dvc pull

      - name: Run MLflow Pipeline
        run: python src/pipeline_components.py
